<div class="encabezado">
    <a href="#" routerLinkActive="active" [routerLink]="['inicio']">
        <img class="" src="../../../assets/imagenes/Encabezado/logo.jpeg" width="80" height="80" alt="">
    </a>
    <a href="https://www.facebook.com/La-Cuchara-Verde-2064506773858858/">
        <fa name="facebook-square" class="mr-2 right fa-2x"></fa>
    </a>
    <a href="https://www.instagram.com/lacucharaverdepz/">
        <fa name="instagram" class="mr-2 right fa-2x"></fa>
    </a>
    <h4 class="right margen">Siguenos en: </h4>
</div>