<div class="encabezado">
    <a href="#" routerLinkActive="active" [routerLink]="['inicio']">
        <img class="" src="../../../assets/imagenes/Encabezado/logo.jpeg" width="80" height="80" alt="">
    </a>
    <a href="https://www.facebook.com/La-Cuchara-Verde-2064506773858858/">
        <img class="right" src="../../../assets/imagenes/Encabezado/facebook.png" width="60" height="60" alt="">
    </a>
    <a href="https://www.instagram.com/lacucharaverdepz/">
        <img class="right" src="../../../assets/imagenes/Encabezado/instagram.png" width="60" height="60" alt="">
    </a>
    <h4 class="right">Siguenos en: </h4>
</div>