<div class="conteiner">
    <img src="../../../assets/imagenes/Carrusel/ima2.jpg" alt="imagen" class="img-fluid">
    <div class="row">
        <div class="col-sm-4" *ngFor="let menu of listMenu" (click)="navegacion(carp.nombre)">
            <div class="card carpeta">
                <div class="card-boby">
                    <h3 class="card-title">{{menu.nombre}}</h3>
                    <img class="rounded mx-auto d-block imagen" [src]="menu.imagen" [alt]="menu.nombre">
                </div>
            </div>
        </div>
    </div>
</div>