<div id="encabezado">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 mt-5" id="titulo">
                <h1>La Cuchara Verde</h1>
                <h2>Conocenos</h2>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mt-5">
            <h1>El <strong>mejor</strong> restaurante en la zona de Pérez Zeledón</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, voluptate. Odit, et deserunt quidem, architecto quo rerum animi consequatur totam ipsa, eveniet sit nisi maiores accusamus quam itaque possimus asperiores?
            </p>
            <img src="../../../assets/imagenes/Carrusel/ima1.jpg" alt="" id="imgTop">
        </div>
        <div class="col-xs- col-sm-12 col-md-6 xol-lg-6 mt-5">
            <img src="../../../assets/imagenes/Carrusel/ima2.jpg" alt="" id="imgTop">
            <h2>Visión</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta, saepe provident numquam atque commodi fugit sed modi qui cumque, fuga porro asperiores! Repellat voluptatibus hic mollitia quis laudantium fugit molestiae.</p>
            <h2>Misión</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos enim alias pariatur sed maxime blanditiis delectus mollitia, magnam harum consequatur quidem quae ab voluptatibus itaque labore suscipit sequi. Excepturi, beatae.</p>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 mt-5" id="medio">
            <h1>Comida a su gusto con la mejor atencion</h1>
            <h2>Visitenos</h2>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 mt-5">
            <h1>Something here</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis perferendis numquam vel, sed dolore quas consequatur nam aliquam fugiat labore in repellat non doloribus laborum eveniet vero expedita minima magni! Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Corporis perferendis numquam vel, sed dolore quas consequatur nam aliquam fugiat labore in repellat non doloribus laborum eveniet vero expedita minima magni! Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
                perferendis numquam vel, sed dolore quas consequatur nam aliquam fugiat labore in repellat non doloribus laborum eveniet vero expedita minima magni! Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis perferendis numquam
                vel, sed dolore quas consequatur nam aliquam fugiat labore in repellat non doloribus laborum eveniet vero expedita minima magni! Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis perferendis numquam vel, sed dolore quas
                consequatur nam aliquam fugiat labore in repellat non doloribus laborum eveniet vero expedita minima magni! Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis perferendis numquam vel, sed dolore quas consequatur nam aliquam
                fugiat labore in repellat non doloribus laborum eveniet vero expedita minima magni! Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis perferendis numquam vel, sed dolore quas consequatur nam aliquam fugiat labore in repellat
                non doloribus laborum eveniet vero expedita minima magni! Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis perferendis numquam vel, sed dolore quas consequatur nam aliquam fugiat labore in repellat non doloribus laborum
                eveniet vero expedita minima magni! Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis perferendis numquam vel, sed dolore quas consequatur nam aliquam fugiat labore in repellat non doloribus laborum eveniet vero expedita
                minima magni! Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis perferendis numquam vel, sed dolore quas consequatur nam aliquam fugiat labore in repellat non doloribus laborum eveniet vero expedita minima magni!
            </p>
        </div>
    </div>
</div>

<app-pie-de-pagina></app-pie-de-pagina>