<div class="conteiner">
    <app-carrusel></app-carrusel>
    <div class="row">
        <div class="col-sm-4" *ngFor="let platillo of selectPlatillos">
            <div class="card carpeta">
                <div class="card-boby">
                    <h3 class="card-title letra">{{platillo.nombre}}</h3>
                    <img class="rounded mx-auto d-block imagen" [src]="platillo.imagen" [alt]="platillo.nombre">
                    <div class="row">
                        <div class="col">
                            <p data-toggle="modal" data-target="#modalInfo" (click)="onPreInfo(platillo)">
                                <fa name="info-circle" class="mr-2 fa-2x"></fa>
                            </p>
                        </div>
                        <div class="col">
                            <p class="presio right">{{platillo.precio}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-modal></app-modal>