<div id="color1">
    <div class="container">
        <section class="footer row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mt-5">
                <h3>La Cuchara Verde</h3>
                <ul>
                    <li>Menú</li>
                    <li>Contácto</li>
                    <li>Nostros</li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mt-2">
                <h3>Blog</h3>
                <p><strong>Deja tus comentarios</strong></p>
                <img src=" ../../../assets/imagenes/Carrusel/ima1.jpg" alt="">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mt-5">
                <h3>Síguenos</h3>
                <h5>REDES SOCIALES</h5>
                <fa name="facebook-square" class="mr-2 fa-2x"></fa>
                <fa name="instagram" class="mr-2 fa-2x"></fa>
            </div>
        </section>
    </div>

    <div class="container mt-3">
        <section class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                <p>inicio | </p>
                <p>Menú | </p>
                <p>Blog | </p>
                <p>Nosotros | </p>
                <p>Contáctenos | </p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8">
                <p>2019 Restaurante La Cuchara Verde | Derechos reservados| MezaTechnologies Diseño web Costa Rica</p>
            </div>
        </section>
    </div>
</div>