<div class="container">
<div class="row">
  <div class="col">
    <p class="h1">La Cuchara Verde</p>
  </div>
  <div class="col text-right">
    <p class="h1">Men&uacute;</p>
  </div>
</div>
<div class="row">
  <div class="border separacion">
    <div class="border container">
      <div class="row">
        <div class="col" *ngFor="let bonton of botonesMenu">
          <button type="button" class="btn btn-lg btn-menu" (click)="setTitulo(bonton)">{{bonton}}</button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <hr/>
        </div>
        <div class="col text-center">
          <p class="h4 titulo">{{titulo}}</p>
        </div>
        <div class="col">
          <hr/>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" *ngFor="let platillo of platillosMenuActual">
          <div class="card">
              <div class="row">
                <div class="col-4">
                  <img [src]="platillo.imagen" class="card-img" [alt]="platillo.nombre">
                </div>
                <div class="col-8">
                  <div class="card-body">
                    <div class="row">
                        <p class="h5 card-title">{{platillo.nombre}}</p>
                        <p class="card-text"><small class="text-muted">........</small></p>
                        <p class="card-text texto"><small class="text-muted">{{platillo.precio}}</small></p>
                    </div>
                    <p class="card-text texto">{{platillo.descripcion}}</p>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
