.contacto {
    background-color: rgb(211, 235, 181, 92%);
    color: rgb(0, 132, 66);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 10px;
}

.icons {
    display: block;
}