<app-carrusel></app-carrusel>
<div id="color1">
    <div class="container">
        <h2>Contáctanos</h2>
    </div>

    <div class="container">
        <section class="main row">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                <div class="colocar">
                    <fa name="phone-square" class="fa-2x"></fa>
                    <p><strong>2771-3131</strong></p>
                </div>

                <div class="colocar">
                    <fa name="envelope-square" class="fa-2x"></fa>
                    <p><strong>@gmail.com</strong></p>
                </div>

                <div class="colocar">
                    <fa name="whatsapp" class="fa-2x"></fa>
                    <p><strong>8888-8888</strong></p>
                </div>

            </div>
            <form action="#" class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                <div class="form-group" id="colocar1">
                    <input type="text" class="form-control" placeholder="Nombre">
                </div>
                <div class="form-group" id="colocar1">
                    <input type="text" class="form-control" placeholder="Telefono">
                </div>
                <div class="form-group" id="colocar">
                    <input type="text" class="form-control" placeholder="Correo">
                </div>
                <div class="form-group" id="colocar">
                    <input type="text" class="form-control" placeholder="Asunto">
                </div>
                <div class="form-group">
                    <textarea type="text" class="form-control" placeholder="Consulta/Comentarios"></textarea>
                </div>
                <button type="submit" class="btn btn-success mb-5" id="boton">Enviar</button>
            </form>
        </section>
    </div>
</div>

<app-mapa></app-mapa>
<app-pie-de-pagina></app-pie-de-pagina>